# Python practice problems with for loops, dict, input

In [ ]:
# Review Python "input" # this should help with assignments below

In [5]:
Olympic_year = input("Which year will be next summer Olympics? ")

Which year will be next summer Olympics? 2020

In [6]:
print(type(Olympic_year)) # it is string

<class 'str'>

In [7]:
print(type(int(Olympic_year))) # it is integer

<class 'int'>

1) Write a for loop to print "Hello" 10 times.

In [8]:
# Write code here ...
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

2) Write a for loop to print even numbers in the range 1 .. 20

In [9]:
# Write code here ...
for i in range(1,21):
    if (i % 2 == 0):
        print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
"""
3) Define a list of animals to be as follows:
animals = ["lion","tiger","elephant","giraffe","zebra"]

Now print animal names using for loop. The output should be as follows:
1 lion
2 tiger
3 elephant
4 giraffe
5 zebra
"""

In [11]:
# Write code here ...
animals = ["lion","tiger","elephant","giraffe","zebra"]
for i in range(len(animals)):
    print(i+1, animals[i])

1 lion
2 tiger
3 elephant
4 giraffe
5 zebra

In [ ]:
"""
4) Visiting moon every year for next 10 years
The weight on moon can be estimated to be 18%  of weight on earth.
Write a program which will ask the user to enter current earth weight.
Then calculate weight on moon. Assume our weight increases by 2 pounds every year on earth.

Use for loop to print weight on moon each year when you visit.
"""

In [12]:
# Write code here ...
for i in range(10):
    eweight = input("What is your weight on earth")
    print("The weight on moon is %d" % (int(eweight) * 0.18))

What is your weight on earth150
The weight on moon is 27
What is your weight on earth152
The weight on moon is 27
What is your weight on earth154
The weight on moon is 27
What is your weight on earth156
The weight on moon is 28
What is your weight on earth158
The weight on moon is 28
What is your weight on earth160
The weight on moon is 28
What is your weight on earth162
The weight on moon is 29
What is your weight on earth164
The weight on moon is 29
What is your weight on earth166
The weight on moon is 29
What is your weight on earth168
The weight on moon is 30

5) Write a for loop to find the sum of all numbers from 1 to 100; 1 + 2 + ... + 99 + 100

In [13]:
# Write code here ...
sum = 0
for i in range(1,101):
    sum = sum + i
print("The sum from 1 to 100 is %d" % sum)

The sum from 1 to 100 is 5050

6) Write a for loop which will ask the user to input 4 numbers. The program should calculate sum of 4 numbers and print the sum.

In [16]:
# Write code here ...
num1 = input("Input number 1 : ")
num2 = input("Input number 2 : ")
num3 = input("Input number 3 : ")
num4 = input("Input number 4 : ")
sum = int(num1) + int(num2) + int(num3) + int(num4)
print("Sum for the four numbers is %d" % sum)

Input number 1 : 5
Input number 2 : 6
Input number 3 : 7
Input number 4 : 8
Sum for the four numbers is 26

7) Write a Python for loop to find product of even number from 1 to 50;
2 x 4 x 6 x 8 x ... x 42 x 44 x 46 x 50

In [22]:
# Write code here ...
result = 1
for i in range(1,51):
    if (i % 2 == 0):
        result = result * i
print("The product result for the even numbers from 1 to 50 is %d" % result)

The product result for the even numbers from 1 to 50 is 520469842636666622693081088000000

8a) Find the index of minimum and maximum number in MyList.

In [24]:
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]

In [29]:
# Write code here ...
min = myList[0]
max = myList[0]
for i in range(1,len(myList)):
    if (myList[i] < min):
        min = myList[i]
        minIndex = i
    if (myList[i] > max):
        max = myList[i]
        maxIndex = i
print("The minimum value is at index %d and the value is %d" % (minIndex, min))
print("The maximum value is at index %d and the value is %d" % (maxIndex, max))

The minimum value is at index 106 and the value is 1
The maximum value is at index 169 and the value is 99

8b) In myList, find top-5 highest frequency numbers. List the numbers and number of occurences.

In [46]:
# write code here ...
dict = {}
for i in range(len(myList)):
    if not myList[i] in dict:
        dict[myList[i]] = 1
    else:
        dict[myList[i]] = dict[myList[i]] + 1
sortedDict = sorted([(value,key) for (key,value) in dict.items()], reverse=True)
print("Top-5 highest frequency numbers")
count = 5
for key,value in sortedDict:
    print("Number : %d, frequency : %d" % (value, key))
    count = count - 1
    if (count == 0):
        break

Top-5 highest frequency numbers
Number : 17, frequency : 7
Number : 77, frequency : 6
Number : 84, frequency : 5
Number : 75, frequency : 5
Number : 58, frequency : 5

9) Write a Python program to convert temperature from Centigrade to Fahrenheit
and Fahrenheit to Centigrade. At the start, the program should ask which way we are converting.

Then ask the user to input the temperature. Your program should do the conversion
and print the results.

(C x 9/5) + 32 = F

In [62]:
# Write code here 
import sys

unit = input("Whch temperature unit you want to use C for Centigrade, F for Fahrenheit : ")
unit = unit.upper()
if unit != 'F' and unit != 'C':
    print("Wrong unit input. Please input C or F.")
    sys.exit()
value = input("Please input the temperature.")
if (unit == 'C'):
    tempF = (int(value) * 9) / 5 + 32
    print("Converted Fahrenheit temperature for %d is %d" % (int(value), tempF))
else:
    tempC = ((int(value) - 32) * 5) / 9
    print("Converted Centigrade temperature for %d is %d" % (int(value), tempC))

Whch temperature unit you want to use C for Centigrade, F for Fahrenheit : f
Please input the temperature.104
Converted Centigrade temperature for 104 is 40

In [ ]:
"""
10) Print the times table:
1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=3 4x2=6 4x3=9 4x4=12 4x5=15
5x1=3 5x2=6 5x3=9 5x4=12 5x5=15

Use for loop nested with for loop to print the above multiplication table
"""

In [70]:
# write code here 
print("The times table")
for i in range(1,6):
    for j in range (1,6):
        print("%dx%d=%d" %(i,j,i*j), end=" "),
    print()

The times table
1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=4 4x2=8 4x3=12 4x4=16 4x5=20
5x1=5 5x2=10 5x3=15 5x4=20 5x5=25